[Unit]
Description=philter
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/bin/philter
Restart=always
 
[Install]
WantedBy=multi-user.target

